/* Utilities */

*{
    letter-spacing: 1px;
}

.bg-website-primary-color{
    background-color: #081229;
}
.bg-website-secondary-color{
    background-color: #191D3A;
}
.text-accent-color{
    color: #EC5990;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}

.chapter-card{
   cursor: pointer;
   transition: all 0.3s ease;
}
.chapter-card:hover{
    transform: scale(0.95);
}